
<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="shortcut icon" href="./static/img/favicon.png" />
<meta name="author" content="Unknown" />
<meta name="description" content=" sample app - Web IM" />
<meta name="keywords" content="Go, golang, sample, Web IM">
<link href="https://cdn.bootcss.com/twitter-bootstrap/4.1.2/js/bootstrap.min.js" rel="stylesheet" />

<script src="https://cdn.bootcss.com/jquery/1.10.2/jquery.min.js"></script>
<script src="./static/js/longpolling.js"></script>
    </head>
    <body>
        <div class="container">
            <h3>username: <span id="uname">vega</span></h3>
            <h4>textsend:</h4>
            <form class="form-inline">
                <div class="col-md-6 form-group">
                    <input id="sendbox" type="text" class="form-control" onkeydown="if(event.keyCode==13)return false;" required>
                </div>
                <button id="sendbtn" type="button" class="btn btn-default">send</button>
            </form>
        </div>

        <div class="container">
            <h3>chat_history:</h3>
            <ul id="chatbox">
                <li>welcome</li>
            </ul>
        </div>
    </body>
</html>